/* my style sheet   */

 body {
	 background-color:beige
	 } 
 
 body {
	 font-family: Arial, Helvitica, Futura;
	 }
 
  /* unvisited link */
a:link {
color: white; text-decoration: none; background-color: darkolivegreen; padding: 5px 15px; text-align: center
}


/* visited link */
a:visited {
    color: white;  text-decoration: none; background-color:darkolivegreen; padding: 5px 15px; text-align: center
}

/* mouse over link */
a:hover {
    color: black; text-decoration: underline;  background-color: #d1efb5; padding: 10px 10px;
}

/* selected link */
a:active {
    color:black; padding: 10px 30px;
}
h1 {
	background-color:  #edeba0; padding: 2px ; text-align: center
}

tr:hover {background-color: #d1efb5; font-size: 1.1em;
}

table, th, td {
   border: 1px solid black; 
}

table {
    width: 100%;
}

th {
    height: 100px; font-size: 1.4em;
}

td {
	height: 70px; text-align: center; font-size: 1.2em;
}

th {
    text-align: center;
}

h1 {
	text-align: center;
}	

th {
    background-color: #928c6f;
    color: white;
}