/* my style sheet   */

 body {
	 background-color:beige
	 } 
 
 body {
	 font-family: Arial, Helvitica, Futura; 
	 }
 
 .links {
 text-align:center;  background-color: #85B6B0 ; width:15%; height:100%; 
position: absolute; top: 4px; left: 10px; padding-top: 50px; max-width: 230px; }


.footer {
  position: absolute;
  bottom:0px;
  left: 20%;
    background-color: #efefef;
  text-align: center;
width:70%;
  }



.header {
	  position: absolute; 
width:70%; left:20%; top:4px; background-color:#edeba0;

}	
.maininfo {
	  position: absolute;
width:70%; left:20%; top:220px; 
}

.storeimg {
	position: absolute;
width:70%; left:20%; top:500px;  
}

.tables {
	  position: absolute;
width:70%; left:20%; top:250px; 
}


 /* unvisited link */
a:link {
color: white; text-decoration: none; background-color: darkolivegreen; padding: 5px 15px; text-align: center
}


/* visited link */
a:visited {
    color: white;  text-decoration: none; background-color:darkolivegreen; padding: 5px 15px; text-align: center
}

/* mouse over link */
a:hover {
    color: black; text-decoration: underline;  background-color: #d1efb5; padding: 10px 10px;
}

/* selected link */
a:active {
    color:black; padding: 10px 30px;
}



tr:hover {background-color: #d1efb5; font-weight:bold;  
}


table, th, td {
   border: 1px solid black; 
}

table {
    width: 100%; 
}

th {
    height: 100px; font-size: 1.4em; width: 50px;
}

td {
	height: 70px; text-align: center; font-size: 1.2em;
}

th {
    text-align: center;
}	

th {
    background-color: #928c6f;
    color: white;
}
